* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.container {
  width: 800px;
  background-color: lightblue;
  padding: 1rem;
}

.container h1 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.container .scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 0.5rem;
  perspective: 1000px;
}

.cards-container .card {
  height: 180px;
  width: 180px;
  background-color: green;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.card.flipped{
    transform: rotateY(180deg);
}

.card.disabled {
  pointer-events: none;
  
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* hides backside when flipped */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  border-radius: inherit;
}

.card-front{
    background: teal;
}

.card-back{
    background: white;
    transform: rotateY(180deg);
}

.card-back img{
    height: 70%;
    width: 70%;
    object-fit: cover;
}